{% if content.field_title[0] %}
  <div class="book-component" {{ attributes }}> {{ title_prefix }}{{ title_suffix }}
    <div class="book-cover col-3"><a href="{{ content.field_url_linking_to_catalog[0]['#url'] }}"><img src="{{ content.field_cover_image_url[0]['#url'] }}" /></a></div>
    <div class="book-detail col-9">
      <h3><a href="{{ content.field_url_linking_to_catalog[0]['#url'] }}">{{ content.field_title }}</a>
        {% if content.field_author[0] %}
          by <a href="{{ content.field_url_linking_author_catalog[0]['#url'] }}">{{ content.field_author }}</a>
        {% endif %}
      </h3>
    <div class="description">{{ content.field_description }}</div>
    </div>
  </div>
{% endif %}
